.createPostBtn{
    border: none;
    border-radius: 8px;
    color: rgb(97, 97, 97);
    background-color: rgb(238, 238, 238);
    transition: 0.25s ease-in-out;
    font-size: 22px;
}

.createPostBtn:hover{
    box-shadow: inset 1000px 0 0 0 rgb(91, 176, 255);
    color: white;
    transition: 0.45s ease-in-out;
}

.asideProfileBG{
    border-radius: 15px 15px 0px 0px;
    background-image: url(../../../assets/defaultProfileBg.jpg);
    background-position: center;
    background-size: cover;
}
.asideProfileImg{
    cursor: pointer;
    position: relative;
    top: 35px;
    transition: 0.15s ease-in-out;
}
.asideProfileImg:hover{
    box-shadow: 0px 0px 50px 0px white;
    transition: 0.15s ease-in-out;
}

.asideUsername:hover{
    cursor: pointer;
    text-decoration: underline;
}

.circleOffline {
    height: 10px;
    width: 10px;
    background-color: rgb(156, 156, 156);
    border-radius: 50%;
    display: inline-block;
}
.circleOnline {
    height: 10px;
    width: 10px;
    background-color: rgb(43, 255, 0);
    border-radius: 50%;
    display: inline-block;
}
.friend{
    cursor: pointer;
    padding: 5px;
}
.friend:hover{
    background-color: rgb(0, 238, 255);
    color: white;
    border-radius: 30px;
    transition: 0.25s ease-in-out;
}