<nav class="navbar navbar-expand-lg bgWhite">
    <a class="navbar-brand" href="#">
      <!--<i class="pi pi-facebook d-inline-block align-top text-primary" style="font-size: 3rem"></i>-->
      <img src="../../../assets/logo.png" alt="logo" width="40" height="40" class="d-inline-block align-text-top logoImage shadow">
    </a>
    <button class="navbar-toggler" type="button" id="toggleBtnNavbar" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i *ngIf="!isBtnCollapse" class="pi pi-bars" style="font-size: 2rem" id="toggleBtnNavbar"></i>
      <i *ngIf="isBtnCollapse" class="pi pi-times" style="font-size: 2rem" id="toggleBtnNavbar"></i>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="input-group col-12 col-lg-4 col-xl-3 mt-lg-0 mt-2 pl-0">
        <div class="input-group-prepend">
          <span class="input-group-text inputSearch" id="basic-addon1"><i class="pi pi-search"></i></span>
        </div>
        <input type="text" class="form-control inputSearch" [(ngModel)]="navbarSearchText" placeholder="Buscar en Ablog..." 
        (keyup.enter)="[search(), (navbarSearchText.length > 0 && recommendedListSearched.length >= 0) ? recommendedPanel.show($event): recommendedPanel.hide($event)]">
        <p-overlayPanel #recommendedPanel [style]="modalWidth" [showCloseIcon]="false" [appendTo]="'body'">
          <ng-template pTemplate>
              <div *ngFor="let recUser of recommendedListSearched" class="row col-12 m-0 p-0 mt-3">
                <ng-container *ngIf="recUser.id != user._id">
                  <div class="col-8 p-0 m-0" style="cursor: pointer;" (click)="openUserProfile()">
                    <img *ngIf="recUser.imgProfile == ''" src="../../../assets/defaultProfile.png" alt="Avatar" class="avatarNav img-fluid">
                    <img *ngIf="recUser.imgProfile != ''" [src]="recUser.imgProfile" alt="Avatar" class="avatarNav img-fluid">
                    <span class="p-0 m-0 ml-2">{{recUser.username}}</span>
                  </div>
                  <div class="col-4 p-0 m-0 text-right" *ngIf="!recUser.isContact">
                    <button class="col-12 p-1 btn btn-outline-primary" (click)="sendFriendRequest(recUser)">
                      <i class="pi pi-user-plus"></i>
                      <span class="d-none d-md-inline">&nbsp;Follow</span>
                    </button>
                  </div>
                </ng-container>
              </div>
          </ng-template>
        </p-overlayPanel>
      </div>
      <ul class="navbar-nav mr-auto pt-3 p-lg-0 navItem">
        <li class="nav-item row text-center p-1 m-1" (click)="collapseNavbar()" (click)="navigateTo('home')" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <i class="pi pi-home col-12 p-0 m-0" style="font-size: 2rem"></i>
          <a class="nav-link col-12 p-0 m-0">Home</a>
        </li>
        <li class="nav-item row text-center p-1 m-1" (click)="collapseNavbar()" (click)="navigateTo('notifications')" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <div class="col-12 p-0 m-0">
            <i *ngIf="notifications.length > 0" class="pi pi-bell" pBadge style="font-size: 2rem" severity="danger" value="{{notifications.length}}"></i>
            <i *ngIf="!notifications.length" class="pi pi-bell" style="font-size: 2rem"></i>
          </div>
          <a class="nav-link col-12 p-0 m-0">Notificaciones</a>
        </li>
        <li class="nav-item row text-center p-1 m-1" (click)="collapseNavbar()" (click)="navigateTo('profile')" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <i class="pi pi-user col-12 p-0 m-0" style="font-size: 2rem"></i>
          <a class="nav-link col-12 p-0 m-0">Perfil</a>
        </li>
      </ul>
      <div class="text-right">
        <button type="button" pButton pRipple icon="pi pi-cog" class="p-button-secondary p-button-rounded" (click)="menu.toggle($event)"></button>
        <p-menu #menu [popup]="true" [model]="options" appendTo="body"></p-menu> 
      </div>
    </div>
    
</nav>

<div class="row col-12 m-0 p-0 justify-content-center">
  <p-toast [style]="modalWidth" position="bottom-right" class="custom-toast"></p-toast>
</div>
